<!DOCTYPE html>
<html>
  <%= render "layouts/headers" %>

  <body>
    <nav class="flex justify-between">
      <%= button_to "Log out", destroy_session_path, method: :delete %>
    </nav>
    <main class="container mx-auto mt-28 px-5">
      <%= yield %>
    </main>
  </body>
</html>
